# Question 1

## What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [10]:
a = 0            
def b():         
 global a      
 a = c(a)      
def c(a):          
 return a + 2

b() #b is called for the first time 
b() #b is called for the second time, a=a+2=4
b() #b is called for the third time, a=a+2 i.e., 4+2=6
a

6

# Question 2

## As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [47]:
def file_length(file):
    
    try:                          
        file = open(file)
        contents = file.read()
        file.close()
        print(len(contents))
    
    except:                       
        print('File {} not found.'.format(file))
file_length('Filelength.txt')
file_length('Filelngth.txt')

123
File Filelngth.txt not found.

# Question 3

## Write a class named Marsupial that can be used as shown below:

## >>> m = Marsupial()

## >>> m.put_in_pouch('doll')

## >>> m.put_in_pouch('firetruck')

## >>> m.put_in_pouch('kitten')

## >>> m.pouch_contents()

## ['doll', 'firetruck', 'kitten']

In [51]:
class Marsupial:          
    def __init__(self,x,y):             
        self.pouch=[]                        
    def put_in_pouch(self,items): 
        self.pouch.append(items)   
    def pouch_contents(self):          
        return self.pouch

class Kangaroo(Marsupial):              
    def __init__(self,x,y):              
        super().__init__(x,y)          
        self.dx = 0                      
        self.dy = 0                        
    def jump(self,x,y):                 
        self.dx = self.dx + x                
        self.dy = self.dy + y
    def __str__(self):                                                      
        return ('I am a Kangaroo located at coordinates({},{})'.format(self.dx,self.dy))
    
    
k = Kangaroo(0,0)    
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

# Question 4

## Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

## x = {𝑥/2        𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
##        3𝑥 + 1   𝑖𝑓 𝑥 𝑖𝑠 o𝑑𝑑

## Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [52]:
def collatz(numb):
    
    if numb== 1:
        print(int(numb))
        
    elif numb%2 == 0:
            print(int(numb))
            return collatz(numb/2)
            
    else:
            print(int(numb))
            collatz((3*numb) + 1)
            
collatz(10)

10
5
16
8
4
2
1

# Question 5

## Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

## >>> binary(0)

## >>> binary(1)

## >>> binary(3)

## >>> binary(9)

In [53]:
def binary(integer):    
    if integer == 0:
        return 0
    else:
        binary(integer//2)
    print(integer % 2,end = '')


binary(9)

1001

# Question 6

## Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

##  >>> infile = open('w3c.html')

## >>> content = infile.read()

## >>> infile.close()

## >>> hp = HeadingParser()

## >>> hp.feed(content)

## W3C Mission

##  Principles

In [55]:
from html.parser import HTMLParser           

f = open(r'w3c.html')     
a=str(f.read())

class HeadingParser(HTMLParser):        
  
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
    
    def handle_starttag(self, tag, attrs):                     
        
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0
            
    def handle_data(self, data):            
        if self.flag and data!='\n':
            
            print('{} {} '.format(self.flag*' ', data))


parser = HeadingParser()                           
parser.feed(a)

  W3C Mission


   Principles

# Question 7

## Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [56]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):  

    def __init__(self, url): 
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs): 
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self): 
        return self.links

In [57]:
def webdir(url, depth, indent):
    
    
    try:
        depth_value = int(depth)
        indent_value = int(indent)
        
        if depth_value < 0 or indent_value < 0:      
            raise ValueError
            
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()                

        if indent_value == 0:
            print('{}'.format(url))

        indent_value += 4
        depth_value = depth_value-1
        
        if depth_value >= 0:
            for link in links:                         
                print('{}{}'.format(indent_value*' ', link), end = '\n')
                if (depth_value) > 0: 
                    webdir(link, depth_value, indent_value)          
                
    except ValueError:
        print("Enter a correct value for depth or indent")

In [29]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)
     
    ##https://reed.cs.depaul.edu/lperkovic/test1.html

http://reed.cs.depaul.edu/lperkovic/one.html
    http://reed.cs.depaul.edu/lperkovic/two.html
        http://reed.cs.depaul.edu/lperkovic/four.html
    http://reed.cs.depaul.edu/lperkovic/three.html
        http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8

## Write SQL queries on the below database table that return:

## a) All the temperature data.

## b) All the cities, but without repetition.

## c) All the records for India.

## d) All the Fall records.

## e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

## f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

## g) The total annual rainfall for Cairo.

## h) The total rainfall for each season.

In [2]:
import sqlite3
con = sqlite3.connect('DBfile.db')
cur = con.cursor()
cur.execute("CREATE TABLE Climate (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

OperationalError: database is locked

In [2]:
cur.execute('SELECT * FROM Climate')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [3]:
cur.execute('SELECT temperature FROM Climate')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [4]:
cur.execute('SELECT DISTINCT City FROM Climate')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [1]:
cur.execute("SELECT * FROM Climate WHERE Country='India'")
cur.fetchall()

NameError: name 'cur' is not defined

In [6]:
cur.execute("SELECT * FROM Climate WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [37]:
cur.execute("SELECT City,country,Season FROM Climate WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [7]:
cur.execute("SELECT City,country FROM Climate WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [8]:
cur.execute("SELECT SUM(Rainfall) FROM Climate WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

In [9]:
cur.execute("SELECT SUM(Rainfall) FROM Climate GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9

##  Suppose list words is defined as follows:

## >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## Write list comprehension expressions that use list words and generate the following lists:

## a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

## d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

## e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [41]:
list = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Upperlist = [word.upper() for word in list]
print(Upperlist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [42]:
Lowerlist = [word.lower() for word in list]
print(Lowerlist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [43]:
Lengthlist = [ len(word) for word in list]
print(Lengthlist)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [44]:
List = [ [word.upper(), word.lower(), len(word)] for word in list]
print(List)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [45]:
List4Words = [word for word in list if len(word)>= 4]
print(List4Words)

['quick', 'brown', 'jumps', 'over', 'lazy']